@mixin position($position, $top, $right, $bottom, $left) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}