$openSans: 'Open Sans', sans-serif;
$balooTama: 'Baloo Tamma 2', cursive;
$raleway: 'Raleway', sans-serif;
$primaryColor: #504EC7;
$secondaryColor: #333279;
$accent: #9B3FF8;
$accent2: #8829E8;
$fontColor: #E0E0E0;
$gradient: linear-gradient(-90deg, $primaryColor, #EA19EE);