$mainColor: #1a1a1a;
$lightBackground: #d1d1d1;
$boxShadowDark: 4px 4px 10px rgba(0, 0, 0, .3),
-4px -4px 10px rgba(58, 58, 58, .2);
$boxShadowDarkActive: inset 5px 5px 11px #121212, 
inset -5px -5px 11px #222222;
$boxShadowLight: 8px 8px 13px #c7c7c7, 
-8px -8px 13px #dbdbdb;
$boxShadowLightActive: inset 8px 8px 13px #c7c7c7, 
inset -8px -8px 13px #dbdbdb;
$darkFontColor: #bfbfbf;